.container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
  th, td {
    text-align: right;
    padding: 8px;
}
  
  td {
    text-align: right;
}
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
}
